* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  place-content: center;
}

.countdown {
  width: 50%;
  display: flex;
  gap: 30px;
  font-family: sans-serif;
}

.time-section {
  text-align: center;
  font-size: 30px;
}

.time-group {
  display: flex;
  gap: 10px;
}

.time-segment {
  display: block;
  font-size: 100px;
  font-weight: 900;
  width: 100px;
}

.segment-display {
  position: relative;
  height: 100%;
}

.segment-display__top,
.segment-display__bottom {
  overflow: hidden;
  text-align: center;
  width: 100%;
  height: 50%;
  position: relative;
}

.segment-display__top {
  background-color: #111;
  color: #eee;
  line-height: 1.5;
}
.segment-display__bottom {
  background-color: #333;
  color: #fff;
  border-top: 2px solid #111;
  line-height: 0;
}

.segment-overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100px;
  perspective: 350px;
}

.segment-overlay__top,
.segment-overlay__bottom {
  position: absolute;
  overflow: hidden;
  text-align: center;
  width: 100%;
  height: 50%;
}

.segment-overlay__top {
  top: 0;
  line-height: 1.5;
  color: #eee;
  background-color: #111;
  transform-origin: bottom;
}
.segment-overlay__bottom {
  bottom: 0;
  line-height: 0;
  color: #fff;
  background-color: #333;
  border-top: 2px solid #111;
  transform-origin: top;
}

.segment-overlay.flip .segment-overlay__top {
  animation: flip-top 0.6s linear;
}
.segment-overlay.flip .segment-overlay__bottom {
  animation: flip-bottom 0.6s linear;
}

@keyframes flip-top {
  0% {
    transform: rotateX(0deg);
  }
  50%,
  100% {
    transform: rotateX(-90deg);
  }
}
@keyframes flip-bottom {
  0%,
  50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

@media (max-width: 768px) {
  .countdown {
    width: 90%;
  }

  .time-section {
    font-size: 20px;
  }

  .time-group {
    gap: 5px;
  }

  .time-segment {
    font-size: 50px;
    width: 50px;
  }

  .segment-overlay {
    width: 50px;
  }
}

@media (max-width: 576px) {
}
